<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <localRepository>/tmp/local-repo</localRepository>

  <profiles>
    <profile>
      <id>internal-resolve</id>

      <repositories>
        <repository>
          <id>indy-infra</id>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>http://indy-infra.nos-automation.svc.cluster.local/api/content/maven/group/local</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>indy-infra</id>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>http://indy-infra.nos-automation.svc.cluster.local/api/content/maven/group/local</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>internal-deploy</id>

      <properties>
        <altReleaseDeploymentRepository>
          indy::default::http://indy-infra-nos-automation.cloud.paas.psi.redhat.com/api/folo/track/{{_BUILD_ID}}/maven/hosted/{{_BUILD_ID}}
        </altReleaseDeploymentRepository>
        <altSnapshotDeploymentRepository>
          indy::default::http://indy-infra-nos-automation.cloud.paas.psi.redhat.com/api/content/maven/hosted/local-deployments
        </altSnapshotDeploymentRepository>
        <!-- NOTE: For older plugin versions ONLY...disabled here
        <altDeploymentRepository>
          indy::default::http://indy-infra-nos-automation.cloud.paas.psi.redhat.com/api/content/maven/hosted/local-releases
        </altDeploymentRepository>
         -->
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>internal-resolve</activeProfile>
    <activeProfile>internal-deploy</activeProfile>
  </activeProfiles>
  <pluginGroups>
    <pluginGroup>org.apache.maven.plugins</pluginGroup>
    <pluginGroup>org.codehaus.mojo</pluginGroup>
  </pluginGroups>
</settings>